@charset "UTF-8";

/*共通箇所
---------------------*/
html{
  font-size: 100%;
}

body{
  font-family:"Yu Gothic Medium", "遊ゴシック Medium", "遊ゴシック体",
  "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: black;
  background-color: none;
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/*page-header
------------------*/
.logo{
  width: 150px;
  margin-top: 15px;
}
.page-header{
 display: flex;
 justify-content: space-between;
 }
.wrapper{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
}
.main-nav{
    display:flex;
    font-size:1.5rem;
    text-transform:uppercase;
    margin-top:34px;
    list-style:none;
    background-color:rgba(0,0,0,0.3);
}
.main-nav li{
    margin-left:36px;
}
.main-nav a{
    color:#ffffff;
}
.main-nav a:hover{
    color:#ffffff;
}






/*home-content
--------------*/
.home-content {
  text-align: center;
  margin-top:10px;
  margin-bottom:30px;
}

.home-content p{
  font-size: 1.3rem;
  margin:10px 0 42px;
  background-color:rgba(0,0,0,0.3);
  color:rgb(255,255,255);

}

/*見出し*/
.page-title{
  font-size: 8rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 10px;
  color:#f6efdb;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
  black 1px -1px 0px, black -1px -1px 0px;
  }

/*ボタン*/
.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width:200px;
  height:200px;
  line-height:200px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
  font-size:30px;
  font-weight:300;
}
.button{
 color:#f6efdb;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

/*大きな背景画像*/
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home{
  height: 1500px;
  background-image: url('conect.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

#home .page-title{
  text-transform: none;
}

#home2{
  height: 1700px;
	background-image: url('conect3.png'),Linear-gradient(#fffacd,#f0f8ff);
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center center;
  color: #000000;
}
#text2{
  padding: 10%;
  margin-bottom: 100px;
  font-size: 25px;
  background-color:#1760a0;
  background:radial-gradient(rgba(255,191,31,1) ,rgba(255,191,31,0.5));
  color: white;
  font-weight: bold;
}

#text-title{
  padding-top: 50px;
  font-size: 40px;
  color: #f6efdb;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
  black 1px -1px 0px, black -1px -1px 0px;

}

#itiskifree{
  font-size: 45px;
  background-color: transparent;
}

#home3{
  background-color:white;
	background-size:contain;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center center;
  color: #000000;
  padding-top:50px;
  text-align:center;
}

p.e{
  position:relative;
  display:block;
  width:150px;
  height:30px;
  background-color:rgb(220,241,237);
  margin:0 auto;
  box-sizing:border-box;
  font-size:14px;
  text-align:center;
  letter-spacing:0.1em;
  padding-top:5px;
  margin-bottom:50px;
}

h2.f{
  text-align:center;
  font-size:30px;
  line-height:1.6em;
  transform:scale(0.95,1);
  letter-spacing:0.1em;
  position:relative;
  display:block;
  width:400px;
  height:70px;
  background-color:rgb(220,241,237);
  margin:0 auto;
  box-sizing:border-box;
  padding-top:10px;
  margin-bottom:50px;
  font-weight:300;

}

.a{
  background:rgb(97,175,154);
}

.ab{
  background:rgb(220,241,237);
  text-align:left;
  font-family: "Sawarabi Gothic";
  margin:0 auto;
}

.abc{
  margin:100px;
  color:white;
}

#home4{
  background-image: url('conect2.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center center;
  height:1300px;
  padding-top:10px;
}

p.g{
  position:relative;
  display:block;
  width:200px;
  height:30px;
  background-color:#fff;
  margin:0 auto;
  box-sizing:border-box;
  font-size:14px;
  text-align:center;
  letter-spacing:0.1em;
  padding-top:5px;
  margin-bottom:50px;
  color:black;
}

.step1{
  display: table-cell;
  vertical-align: middle;
  width:1400px;
  height:30px;
  background-color:rgba(255,255,255,0.8);
  position:relative;
  padding: 0 10% 0 10%;
}

.step1 img{
   margin-right:10px;
   vertical-align:middle;
}

.step1 span{
   vertical-align:middle;
}

#waytohelp{
  text-align:center;
  font-size:30px;
  line-height:1.4em;
  transform:scale(0.95,1);
  letter-spacing:0.1em;
  background-color:#fff;
  display:block;
  width:300px;
  height:60px;
  margin:0 auto;
  box-sizing:border-box;
  padding-top:10px;
  margin-bottom:90px;
  color:black;
}

.process{
  position:relative;
}

.bg{
  position:absolute;
  top:100px;
  left:0;
  background-color:rgb(220,241,237);
  mix-blend-mode:multiply;
  width:100%;
  height:85%;
}

.inner2{
  position:relative;
  width:100%;
  margin:0 auto;
  padding-bottom:100px;
  border-bottom:10px dotted rgb(97,175,154);
  margin-top:300px;
}

#process1 h2{
  width:300px;
  margin-bottom:90px;
  font-size:30px;
  text-align:center;
  letter-spacing:0.1em;
  line-height:1.4em;
  font-weight:300;
  position:relative;
  display:block;
  height:60px;
  background-color:rgb(220,241,237);
  box-sizing:border-box;
  padding-top:10px;
  color:black;
  transform:scale(0,95,1);
  margin:0 auto;
}

.process ul{
  position:relative;
  width:700px;
  margin:100px auto 30px auto;
  background-color:#fff;
  box-shadow:5px 5px 5px rgba(0,0,0,0.1);
  border-radius:20px;
  height:700px;
}

.process ul li{
  position:relative;
  display:block;
  min-height:110px;
  border-bottom:5px dotted rgb(97,175,154);
}

.process ul.process_chart p.fig{
  position:absolute;
  top:30px;
  left:50px;
  width:50px;
  height:50px;
  border-radius:50%;
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  background-color:rgb(97,175,154);
  box-shadow:5px 5px 5px #ddd;
  font-family:"Sawarabi Gothic";
  font-size:20px;
  color:#fff;
}

.process ul.process_chart li h3{
  margin-left:140px;
  padding-top:50px;
  font-size:20px;
  letter-spacing:0.03em;
  font-weight:500;
  margin-bottom:20px;
  color:black;
}

.process ul.process_chart p.description{
  width:530px;
  margin-left:100px;
  margin-top:10px;
  font-size:20px;
  line-height:1.7em;
  letter-spacing:0.03em;
  margin-bottom:0px;
  padding-bottom:30px;
  color:black;
  text-align:center;
}

.process ul.process_chart .description a{
  display:inline-block;
  margin-top:5px;
  color:rgb(97,175,154);
  text-decoration:underline;
}

.btn_start a{
  background-color:rgb(97,175,154);
  display:block;
  font-size:20px;
  text-align:center;
  padding:20px 0;
  max-width:350px;
  width:100%;
  box-sizing:border-box;
  margin:10px auto;
  color:#fff;
  font-weight:300;
}

.bg_pink{
  position:absolute;
  top:100px;
  left:0;
  background-color:rgba(247,160,180,0.4);
  mix-blend-mode:multiply;
  width:100%;
  height:85%;
}

.inner_2000{
  position:relative;
  width:90%;
  margin:0 auto;
  padding-bottom:100px;
  border-bottom:10px dotted rgb(247,160,180);
  margin-top:80px;
}

#process2 h2{
  width:300px;
  margin-bottom:90px;
  font-size:30px;
  text-align:center;
  letter-spacing:0.1em;
  line-height:1.4em;
  font-weight:300;
  position:relative;
  display:block;
  height:60px;
  background-color:rgba(247,160,180,0.4);
  box-sizing:border-box;
  padding-top:10px;
  color:black;
  transform:scale(0,95,1);
  margin:0 auto;
}

.process ul{
  position:relative;
  width:700px;
  margin:100px auto 30px auto;
  background-color:#fff;
  box-shadow:5px 5px 5px rgba(0,0,0,0.1);
  border-radius:20px;
  height:650px;
}

#process2 ul li{
  position:relative;
  display:block;
  min-height:110px;
  border-bottom:5px dotted rgb(247,160,180);
}

.process ul.process_chart p.fig2{
  position:absolute;
  top:40px;
  left:50px;
  width:50px;
  height:50px;
  border-radius:50%;
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  background-color:rgb(247,160,180);
  box-shadow:5px 5px 5px #ddd;
  font-family:"Sawarabi Gothic";
  font-size:20px;
  color:#fff;
}

#process2 ul.process_chart .description a{
  display:inline-block;
  margin-top:5px;
  color:rgb(247,160,180);
  text-decoration:underline;
}

.btn_end a{
  background-color:rgb(247,160,180);
  display:block;
  font-size:20px;
  text-align:center;
  padding:20px 0;
  max-width:350px;
  width:90%;
  box-sizing:border-box;
  margin:10px auto;
  color:#fff;
  font-weight:300;
}

#contact{
  background-color:#fff;
  padding-bottom:100px;
  padding-top:100px;
}

.inner{
  position:relative;
  width:1000px;
  margin:0 auto;
  padding-bottom:0px;
}

p.e{
  position:relative;
  display:block;
  width:200px;
  height:50px;
  background-color:rgb(220,241,237);
  margin:0 auto;
  box-sizing:border-box;
  font-family:"Sawarabi Gothic";
  font-size:20px;
  text-align:center;
  letter-spacing:0.1em;
  padding-top:10px;
  margin-bottom:70px;
}

#contact h2{
  margin-bottom:60px;
  text-align:center;
}

a:link{
  text-decoration:none;
}

#contact p.contact2{
  display:block;
  width:500px;
  height:80px;
  box-sizing:border-box;
  color:#fff;
  font-size:30px;
  font-weight:500;
  text-align:center;
  padding-top:20px;
  letter-spacing:0.2em;
  background-color:rgb(97,175,154);
  border-radius:30px;
  margin:0 auto 10px auto;
}

#abcd{
  color:rgb(97,175,154);
  font-size:30px;
  padding:20px;
  margin-left:750px;
}

.abcde{
  opacity:0;
  color:rgb(97,175,154);
  font-size:20px;
}

#abcd:hover~.abcde{
  opacity:1;
}

/*footer*/
footer{
  background: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  text-align:right;
  padding:30px;
}

footer p{
  color:#fff;
  font-size:30px;
}
