@charset "UTF-8";

/*共通箇所
---------------------*/
html{
  font-size: 100%;
}

body{
  font-family:"Yu Gothic Medium", "遊ゴシック Medium", "遊ゴシック体",
  "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: black;
  background-color: none;
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/*page-header
------------------*/
.logo{
  width: 150px;
  margin-top: 15px;
}
.page-header{
 display: flex;
 justify-content: space-between;
 }
.wrapper{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
}
.main-nav{
    display:flex;
    font-size:1.5rem;
    text-transform:uppercase;
    margin-top:34px;
    list-style:none;
    background-color:rgba(0,0,0,0.3);
}
.main-nav li{
    margin-left:36px;
}
.main-nav a{
    color:#ffffff;
}
.main-nav a:hover{
    color:#ffffff;
}






/*home-content
--------------*/
.home-content {
  text-align: center;
  margin-top: 0px;
}
.home-content p{
  font-size: 1.3rem;
  margin:10px 0 42px;
  background-color:rgba(0,0,0,0.3);
  color:rgb(255,255,255);

}

/*見出し*/
.page-title{
  font-size: 8rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 10px;
  color:#f6efdb;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
  black 1px -1px 0px, black -1px -1px 0px;
  }

/*ボタン*/
.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 160px;
  height: 160px;
  line-height: 155px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
  font-size: 25px;
  font-weight: normal;
}
.button{
 color:#f6efdb;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}


/*大きな背景画像*/
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home{
  height: 1500px;
background-image: url('conect.jpg');
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
z-index: 1;
}
#home .page-title{
  text-transform: none;
}

#home2{
  height: 1700px;
	background-image: url('conect3.png'),Linear-gradient(#fffacd,#f0f8ff);
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center center;
  color: #000000;
}
#text2{
  padding: 10%;
  margin-bottom: 100px;
  font-size: 25px;
  background-color:#1760a0;
  background:radial-gradient(rgba(255,191,31,1) ,rgba(255,191,31,0.5));
  color: white;
  font-weight: bold;
}

#text-title{
  padding-top: 50px;
  font-size: 40px;
  color: #f6efdb;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
  black 1px -1px 0px, black -1px -1px 0px;

}

#itiskifree{
  font-size: 45px;
  background-color: transparent;
}

#home3{ background-color:white;
	background-size:contain;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center center;
        color: #000000;
        padding-top:100px;
        text-align:center;
}

.a{ background:rgb(97,175,154);
}

.ab{ background:rgb(220,241,237);
     text-align:left;
     font-family: "Sawarabi Gothic";
     margin:0 auto
}

.abc{ margin:80px;
      color:white;
}

.btn-flat-border{ display: inline-block;
                  padding:80px 100px;
                  text-decoration: none;
                  color:#ff1493;
                  border: solid 10px rgb(97,175,154);
                  border-radius:3px;
                  transition:. 4s;
                  background-color:rgb(220,241,237);

}

.btn-flat-border:hover{ background:rgb(97,175,154);
                        color:#ff1493;
}

#home4{
  	background-image: url('conect2.jpg');
  	background-size: cover;
  	background-attachment:fixed;
  	background-repeat: no-repeat;
  	background-position: center center;
        height: 2000px;
}
.step1{
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    width:300px;
    height:150px;
    background-color:rgba(227,215,163,0.7);
    font-size:25px;
}
.step1 img{
   margin-right:10px;
   vertical-align:middle;
}
.step1 span{
   vertical-align:middle;
}

.step2{
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  width:300px;
  height:150px;
  background-color: rgba(227,215,163,0.7);
  font-size:25px;
}
.step2 img{
   margin-right:10px;
   vertical-align:middle;
}
.step2 span{
   vertical-align:middle;
}

.step3{
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  width:300px;
  height:150px;
  background-color: rgba(227,215,163,0.7);
  font-size:25px;
}
.step3 img{
   margin-right:10px;
   vertical-align:middle;
}
.step3 span{
   vertical-align:middle;
}
.step4{
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  width:400px;
  height:150px;
  background-color: rgba(227,215,163,0.7);
  font-size:25px;
}
.step4 img{
   margin-right:10px;
   vertical-align:middle;
}
.step4 span{
   vertical-align:middle;
}
#waytohelp{
  padding-top: 400px;
}
#ContactInfo{
  padding-top: 500px;
}

/*フォ―ム*/
h2{ padding-top: 150px;
    font-size: 40px;
    color:#f6efdb;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px,
    black 1px -1px 0px, black -1px -1px 0px;
    text-align:center;
}

form div{
    margin-bottom:14px;
    margin-left:100px;

}


label{
  font-size:1rem;
  margin-bottom:10px;
  margin-right:10px;
  width:100px;
  float:left;
  display:block;
 }
input[type="text"],
input[type="email"],
input[type="message"],
textarea{
 background:rgba(255,255,255,0.5);
 border:1px #fff solid;
 border-radius:5px;
 padding:10px;
 font-size:1rem;

}
input[type="text"],
input[type="email"]{
      width:100%;
      max-width:240px;
}
textarea{
      width:100%;
      max-width:480px;
      height:6rem;
}
.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
  margin-left:100px;
}


.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#abcd{ color:rgb(97,175,154);
       font-size:30px;
       margin-left:750px;
       padding:20px;
}

.abcde{ opacity:0;
        color:rgb(97,175,154);
        font-size:20px;
}

#abcd:hover~.abcde{
  opacity:1;
}

/*footer*/
footer{ background: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
        text-align:right;
        padding:30px;
}

footer p{ color:#fff;
          font-size:30px;
}
