@charset "UTF-8";

/*共通箇所
---------------------*/
html{
  font-size: 100%;
}

body{
  font-family:"Yu Gothic Medium", "遊ゴシック Medium", "遊ゴシック体",
  "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: black;
  background-color: none;
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/*page-header
------------------*/
.logo{
  width: 210px;
  margin-top: 20px;
}
.page-header{
 display: flex;
 justify-content: space-between;
}
.wrapper{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
}

/*home-content
--------------*/
.home-content {
  text-align: center;
  margin-top: 0px;
}
.home-content p{
  font-size: 1.3rem;
  margin:10px 0 42px;
  background-color:rgba(0,0,0,0.3);
  color:rgb(255,255,255);

}

/*見出し*/
.page-title{
  font-size: 8rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 10px;
  color:#f6efdb;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
  black 1px -1px 0px, black -1px -1px 0px;
  }

/*ボタン*/
.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 160px;
  height: 160px;
  line-height: 155px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
  font-size: 25px;
  font-weight: normal;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}


/*大きな背景画像*/
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home{
  height: 1500px;
background-image: url('conect.jpg');
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
z-index: 1;
}
#home .page-title{
  text-transform: none;
}

#home2{
  height: 1500px;
	background-image: url('conect3.png'),Linear-gradient(#fffacd,#f0f8ff);
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center center;
  color: #000000;
}
#text2{
  padding: 10%;
  font-size: 25px;
  background-color:#1760a0;
  background:radial-gradient(rgba(255,191,31,1) ,rgba(255,191,31,0.3));
  padding:40px;
  color:#ffffff;
}

#text-title{
  padding-top: 150px;
  font-size: 40px;
  color:#f6efdb;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
  black 1px -1px 0px, black -1px -1px 0px;
  
}

#home3{ background-color:rgb(142,190,190);
	background-image: url('conect4.jpg');
	background-size:contain;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center center;
  color: #000000;
  padding-top:200px;
  padding-bottom:200px;
}

#home4{
  	background-image: url('conect2.jpg');
  	background-size: cover;
  	background-attachment:fixed;
  	background-repeat: no-repeat;
  	background-position: center center;
        height: 1000px;
}
.step1{
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    width:300px;
    height:150px;
    background-color:rgba(227,215,163,0.7);
    font-size:25px;
}
.step1 img{
   margin-right:10px;
   vertical-align:middle;
}
.step1 span{
   vertical-align:middle;
}
 
.step2{
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  width:300px;  
  height:150px;
  background-color: rgba(227,215,163,0.7);
  font-size:25px;
}
.step2 img{
   margin-right:10px;
   vertical-align:middle;
}
.step2 span{
   vertical-align:middle;
}
 
.step3{
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  width:300px;
  height:150px;
  background-color: rgba(227,215,163,0.7);
  font-size:25px;
}
.step3 img{
   margin-right:10px;
   vertical-align:middle;
}
.step3 span{
   vertical-align:middle;
}
.step4{
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  width:300px;
  height:150px;
  background-color: rgba(227,215,163,0.7);
  font-size:25px;
}
.step4 img{
   margin-right:10px;
   vertical-align:middle;
}
.step4 span{
   vertical-align:middle;
}

/*フォ―ム*/
h2{
 padding-top: 150px;
  font-size: 40px;
  color:#f6efdb;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
  black 1px -1px 0px, black -1px -1px 0px;
}
form div{
  margin-bottom:14px;
  margin-left:100px;
}
label{
  font-size:1.5rem;
  margin-bottom:10px;
  display:block;
  
}
input[type="text"],
input[type="email"],
textarea{
 background:rgba(255,255,255,0.5);
 border:1px #fff solid;
 border-radius:5px;
 padding:10px;
 font-size:1rem;
}
input[type="text"],
input[type="email"]{
      width:100%;
      max-width:240px;
}
textarea{
      width:100%;
      max-width:480px;
      height:6rem;
}
.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
  margin-left:100px;
}

.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/*リスト*/
ol {
  margin: 0 auto;
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding: 5%;
  border: solid 2px #ffb107;
  font-family: 'Philosopher', serif;
  color: white;
  font-weight: 700;
  width:80%;
  min-width:350px;
  max-width:630px;
  background-color:rgba(142,190,190,0.5);
}
ol li {
  border-bottom: dashed 1px orange;
  position: relative;
  padding: 0.5em 0.5em 0.5em 30px;
  line-height: 1.5em;
}
ol li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  background: #ffb107;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
ol li:last-of-type {
  border-bottom: none; /*最後のliの線だけ消す*/
}
#kifree-message{
padding-top:200px;
color:white;
font-family: "Sawarabi Mincho";
}
#a{
background-color:rgba(142,190,190,0.5);
padding:30px;
border:2px solid;
border-color:rgb(255,154,53);
width:80%;
  min-width:350px;
  max-width:800px;
}
/*footer*/
footer{
  background: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  text-align: left;
  padding: 26px 0;
}
footer p{
  color:#fff;
  font-size: 2em;
}
